/*element*/
footer{
    background-color: white;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    
}

button{ /* change all button in page */ 
  border-radius:13px; ;
  padding: 6px 32px;
  text-align: center;
  /* ขีดเส้นใต้ */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: white;
}


/*text*/
h1{
  color: white;
  font-size: 36px;
  font-weight: bold;
}

.textHead{
  color: white;
  size: 16px;
  font-weight: bold;
}

 /*text in child left*/
.textLeftChild{
  text-align: left;
  /* ห่างจากขอบซ้าย 20% */
  margin-left: 20%;
  margin-bottom: auto;
  font-size: 20px;
  font-weight: bold;
}

/*text in child center*/
.textChild{
  text-align: center;
  margin-top: 10%;
  margin-bottom: auto;
  font-size: 32px;
  text-decoration: underline;
  font-weight: bold;
}

/*general*/

/*center*/
.container2 {
  /* ปรับขนาดอัตโนมัติ */
  margin: auto;
}

/* .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
} */

.section2{
  display: block;
  padding: 1.5%;
}

/* คล้ายกับ columns */
.parent {
  height: 300px;
  width: 80%;
  padding: 10px;
  margin: auto;
  display:flex;
  text-align: center;
  
}

/* คล้ายกับ column */
.child{
  border-radius: 12px;
  box-shadow: 2px 2px 5px grey;
  /* ปรับทุกด้าน */
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: white;
}

/* เมื่อเลื่อนเม้าไปวางจะเปลี่ยนเป็นอีกสี */
.child:hover{
  background-color:#dddddd;
}

.childNoHover{
  border-radius: 12px;
  box-shadow: 2px 2px 5px grey;
  margin: auto;
    text-align: center;
    width: 100%;
    background-color: #bfbfbf;
    margin-bottom: 5%;
}


.inLine{
  display: inline-block;
}

.absoluteRight{
  /* ทำให้ชิดฝั่งใดฝั่งหนึ่ง */
  float: right;
}

.underline { text-decoration: underline; }

.bg {background-color: #F2F2F2;}



/* button*/
.input{
  width: 40%;
  /* : บนล่าง , ซ้ายขวา */
  padding: 12px 20px;
  margin: 8px 0;
  /* ทำให้กรอบมีขอบ */
  box-sizing: border-box;
}

.input60{
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.textLogin{
  font-size: 24px;
  color: white;
}




/*head and footer*/
.head{
  background-color: #363636;
  width: 100%;
  height: 200px;
  
}
.logoutBut{
  background-color: #000033; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.mainBut{
  background-color: #363636;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.textfooter{
    color: black;
    font-size: 18px;
}



/* img size*/
  .imgChild{
      margin: auto;
      margin-top: 5%;
  }

  .imgHead{
    /* ทำให้อยู่ตรงเกือบกลางของช่อง */
    vertical-align: middle;
    margin-left: 5%;
  }

  .img128{
    width: 128px;
    height: 128px;
  }
  .img150{
    width: 150px;
    height: 150px;
  }

  .imgcar{
    width: 200px;
    height: 100px;
  }
  
  

/* button */

.button{
    border: none;
    color: white;
    /* ความกว้างข้างบน และ ความกว้างข้างๆ */
    padding: 15px 32px;
    text-align: center;
    width: 40%;
    text-decoration: none;
    /* ทำให้อยู่บรรทัดเดียวกัน */
    display: inline-block;
    font-size: 18px;
    border-radius: 12px;
}
.padd{
  padding: 15px  ;
  width: 15%;
}

.folk{
  padding: 10px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.arm{
  text-align: center;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  width: 20%;
}

.mine{
  padding: 15px 35px;
  font-size: 20px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
}


.linkText{
  color: blue;
  text-decoration: underline;
  font-size: 20px; 
}

.green{
  background-color: #00d1b2;
}

.green:hover{
  background-color: #126e60;
}

.blue{
  background-color: #209cee;
}
.blue:hover{
  background-color: #1b689b;
}

.red{
  background-color: #ff3860;
}
.red:hover{
  background-color: #9e253d;
}

.yellow{
  background-color: #ffd633;
}

.yellow:hover{
  background-color: #977f1f;
}

.textWhite{
  color: white;
}

/* taxPage */
.taxHead {
  font-size: 25px; 
}

.box1 {
  background-color: #c4c4c4;;
  width: 92%;
  border: 1px solid lightgray;
  padding: 25px;
  border-radius: 5px;
  font-weight: bold;
  /* ทำให้ข้อความอยู่ในกรอบเวลาพิมพ์ข้อความยาวๆจะไม่ทำให้เกินกรอบออกไป */
  word-wrap: break-word;
}

th,td { /* change all th, td color */
  border:1px solid lightgray;
}

.table-center-with90{ /* set table to center with width 80 */
  width:90%;
  margin-left: auto;
  margin-right: auto; 
  border:1px solid lightgray; 
  border-collapse: collapse;
  margin-top: 1%;
  margin-bottom: 1%;
}

.center-text{ /* set a text to center position */ 
  text-align: center;
}

.row { /* use for set a column */
  content: "";
  display: table;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

.column-2-in-row { /* set a 2 column in 1 row */ 
  float: left;
  width: 39%;
  margin: 0.5%;
}

.column-side { /* blank column when you need a empty position side a column */ 
  float: left;
  margin: 5%;
  margin-bottom: 0px;
}

.table-padd{  /* set a padding for table */
  padding:0.5%;
}

.col-padd{ /* set a padding for column */
  padding: 0.5%;
}

.head-font-size{ /* set a text size in HEAD */
  font-size: 25px;
}

.head-center-box{ /* set a box in HEAD to center */
  width: 50%;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.group-button{ /* set a group button */ 
  border: 0px;
}

.table-BG-color{
  background-color: #c4c4c4;
}

.column-3-in-row { /* set a 2 column in 1 row */ 
  float: left;
  width: 30%;
  margin: 0.5%;
}

input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}
input[type="password"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

/* ทำให้กรอบข้อความเป็นสีเมื่อใช้เม้าคลิกแล้ว */
input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

input[type="password"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="text"] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus + i {
  color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}

table#t01 tr:nth-child(even) {
  background-color: #fff;
}
table#t01 tr:nth-child(odd) {
  background-color: #eee;
}
table#t01 th {
  
  background-color: #eee;
  
}

table#t01 {
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  border-collapse: collapse;
}

th#t01,td#t01 { /* change all th, td color */
  border-left:1px solid black;
  border-right:1px solid black;
}

.font-in-box {
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.column-size-saveRepair{
  width: 49%;  
  font-size: 18px;
}

.font-size-head-saveRepair{
  font-size: 20px;
  width: 20%;
  transform: translateY(50%);
}

.box-left-saveRepair{
  margin-left: 3px;
   margin-top: 5px;
   width: 100%;
}

.th-top-border{
  border-top:1px solid black;
}

.th-bottom-border{
  border-bottom:1px solid black
}

.center-window{
  margin-left: auto; 
  margin-right: auto;
}

button#saveRepair{
width: 80%;
}

/* saveRepair */

/* saveCarData */

.pattern-saveCarData{
  font-size: 20px; 
  text-align: left;
  transform: translateY(45%);
}

.row-saveCarData{
  margin-left: 3px; 
  margin-top: 5px;
  width: 100%;
}

.input-saveCarData{
  width:100%;
  margin-left: 15px;
  height: 40px
}

/* saveCarData */

/* customerData */

.row-customerData{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5%;
}

.upper-field{
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 5px
}

.lower-field{
  width: 100%;
  height: 40px;
  border-radius: 5px;
}




/*cus and receipt*/
.parentFix {
  height:  100%;
  width: 100%;
  padding: 10px;
  margin: auto;
  display:flex;
  text-align: center;
}


.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
  padding-left: 1em;
  margin-bottom: 5.2rem;
}

.set-select{
  padding-bottom: 0.5rem;
  padding-left: 0.50rem;
  padding-right: 4rem;
  padding-top: 0.25rem;
  border-radius: 4px;
  font-size: 1.05rem;
}

/* Add */
.title{
color: #363636;
font-size: 2rem;
font-weight: 600;
line-height: 1.125;
margin-top: 1rem;
}

.title2{
  color: #363636;
font-size: 1.5rem;
font-weight: 600;
line-height: 1.125;
margin-top: 1rem;
text-decoration: underline;
}

.title3{
  color: #363636;
font-size: 1.25rem;
font-weight: 600;
line-height: 1.125;
margin-top: 1rem;
text-decoration: underline;
}

.child.fix-flex{
  text-align: left;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
  background-color: #dbdbdb;
}

.inline-flex {
  display: inline-flex;
}

.form{
  display: block ;
  padding-left: 4rem;
  padding-top: 1.5rem;

}

.form.in-line{
  display: inline-flex;
  text-align: left;
}

.form.is-fifth{
  flex: none;
  width: 20%;
}

.form.is-fullwidth{
  flex: none;
  width: 35%;
}

.form.is-icon{
  flex: none;
  width: 2%;
}

.text.is-form{
  margin-right: 0.5rem;
}

.text.is-long{
  width: 75%;
}

.text.is-short{
  width: 25%;
}

.text.is-medium{
  width: 35%;
}

.icon{
  font-size: 56px;
}


.field-button{
  padding-bottom: 2rem;
}


.field-button.is-right{
  text-align: right;
  margin-right: 1rem;

}

.in-child-is-inline{
  display: inline;
  text-align: center;
}

.in-child-is-inline.left{
  text-align: left;
  justify-content: left;
}

.in-child{
  display: block;
  margin: auto;
  padding: 0.75rem;
  text-align: center;
}

.in-child.left{
  text-align: left;
  justify-content: left;
}

.in-child.headForm{
  text-align: left;
  margin-left: 1.5rem;
}

.table.is-information {
  background-color: white;
  color: #363636;
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

.is-bordered,th,td{
  border: 1px solid gray;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}



.inputByArm,.textArea{
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-flex;
  font-size: 1rem;
  height: 1.25em;
  justify-content: flex-start;
  position: relative;
 
}


.textArea.is-form{
  width: 80%;
  height: 100%;
  padding-bottom: 5rem;
  padding-left: 0.50rem;
  padding-right: 0.50rem;
  padding-top: 0.25rem;
  margin-top: 0.5rem;
  margin-bottom: 1.75rem;
}

.inputByArm.is-search{
  width: 70%;
  padding-bottom: 0.25rem;
  padding-left: 0.50rem;
  padding-right: 0.50rem;
  padding-top: 0.25rem;
  margin-top: 0.5rem;
}

.inputByArm.is-form{
  width: 70%;
  padding-bottom: 0.25rem;
  padding-left: 0.50rem;
  padding-right: 4rem;
  padding-top: 0.25rem;
  margin-top: 0.5rem;
}

.inputByArm.is-medium{
  width: 100%;
  padding-bottom: 0.20rem;
  padding-left: 0.50rem;
  padding-right: 4rem;
  padding-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.inputByArm.is-date{
  width: 20%;
  padding-bottom: 0.25rem;
  padding-left: 0.50rem;
  padding-right: 4rem;
  padding-top: 0.25rem;
  margin-top: 0.5rem;
}
.buttonByArm{
  text-align: center;
  font-size: 1rem;
  border-radius: 12px;
  padding-bottom: 0.25rem;
  padding-left: 0.50rem;
  padding-right: 0.50rem;
  padding-top: 0.25rem;
}

.buttonByArm.is-primary{
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;

}

.buttonByArm.is-save{
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 1.5rem;
}

/* Add */
.has-bg-grey {
  background-color: #dbdbdb;
}

.buttonByArm.is-info {
  background-color: #209cee;
  border-color: transparent;
  color: #fff;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 1.5rem;
}

.buttonByArm.is-danger {
  background-color: #ff3860;
  border-color: transparent;
  color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.form.is-fullwidth2{
    flex: none;
    width: 55%;
}

.title4{
    color: #363636;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.125;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

.in-child.is-center{
    margin-top: -rem;
    margin-bottom: 4.5rem;
}

.child.fix-flex.none{
    text-align: left;
    justify-content: left;
    background-color: none;
    border-radius: none;
    box-shadow: none;
}

.formGroup{
    margin-right: 3rem;
    margin-top: 3rem;
    padding-bottom: 1.75rem;
}

.inputByArm.is-form2{
    width: 70%;
    padding-bottom: 0.25rem;
    padding-left: 0.50rem;
    padding-right: 8rem;
    padding-top: 0.25rem;
    margin-top: 0.5rem;
}

.field-button.is-right-inform{
    text-align: right;
    display: inline-flex;
    padding-bottom: 0rem;
}


/* ADD NEW */

.form.is-fullwidth2{
  flex: none;
  width: 55%;
}

.title4{
  color: #363636;
font-size: 1.25rem;
font-weight: 600;
line-height: 1.125;
margin-top: 1rem;
margin-left: 1rem;
margin-bottom: 1.5rem;
}

.in-child.is-center{
  margin-top: -rem;
  margin-bottom: 4.5rem;
}

.child.fix-flex.none{
  text-align: left;
  justify-content: left;
  background-color: none;
  border-radius: none;
  box-shadow: none;
}

.formGroup{
  margin-right: 3rem;
  margin-top: 3rem;
  padding-bottom: 1.75rem;
}

.inputByArm.is-form2{
  width: 70%;
  padding-bottom: 0.25rem;
  padding-left: 0.50rem;
  padding-right: 8rem;
  padding-top: 0.25rem;
  margin-top: 0.5rem;
}

.field-button.is-right-inform{
  text-align: right;
  display: inline-flex;
  padding-bottom: 0rem;
}

/* ของมาย */


.inputTextSearch {
  width: 92%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size : 18px
}

.searchButton {
  padding: 15px 35px;
  font-size: 20px;
  border-radius: 12px;
}

.tableData {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-size: 18px
}

.imgProduct{
  margin-left: 2%;
  width: 300px;
  height: 480px;
}

.inputData{
  padding: 15px 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  font-size : 12px
}


.buttonByMine{
  padding: 15px 35px;
  font-size: 20px;
  width: 200px;
  text-align: center;
  border-radius: 12px;
  color: white;
}

.frameLine {
  border: 3px solid rgb(116, 116, 116);
  padding: 10px;
  height: 850px;
  margin-left: 15%;
  margin-right: 15%;
}

.showDataCustomer {
  padding: 10px 10px; 
  color: red; 
  font-size: 15px;
  text-align: center;
}

.columnByMine {
  float: left;
  padding: 10px;
  height: 100px; 
}

/* Clear floats after the columns */
.rowByMine:after {
  content: "";
  display: table;
  clear: both;
}

/* เบสท์ */

.inNameDetail {
  width: 88%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size : 18px
}

.inputButton {
  padding: 10px 15px;
  font-size: 14px;
  
}

.butLeft {
padding: 10px 10px;
font-size: 14px;
margin-left: 20%;
}

.butRight {
  padding: 10px 40px;
  font-size: 14px;
  margin-left: 20%;
}

.textLable {
font-size : 18px
}

.column {
float: left;
width: 50%;
padding: 10px;
height: auto;
}

.columnL {
  float: left;
  width: 50% ;
}

.columnR {
float: right;
width: 50% ;
}

.tb {
border-collapse: collapse;
width: 100%;
background-color: white;
}

td {
background-color: rgb(255, 255, 255);
border: 1px solid #dddddd;
text-align: center;
padding: 8px 35px;
font-size: 18px
}

th {
background-color: rgb(128, 125, 125);
border: 1px solid #dddddd;
text-align: center;
padding: 8px 35px;
font-size: 18px
}

.styleInput {
  font-size: 14px;
  border: 1px solid #000;
  border-radius: 4px;
}

.styleBackground {
background-color:#c3bebe ;
border:2px solid black;
border-radius: 4px;
}

/*bank*/
.date{
  text-align: right;
}

.where{
  text-align: right;
}
.box2 {
  background-color: #fffbfb;;
  width: 92%;
  border: 2px solid rgb(255, 254, 254);
  padding: 25px;
  border-radius: 5px;
  font-weight: bold;
  word-wrap: break-word;
}




  
